# VideoGame Sales Dataset

### Here we will take a look at a sample dataset I found in which I incorporated Python, MySQL, and Power BI to create analysis on Global Video Game Sales

In [1]:
import pymysql
import csv

In [2]:
f = open("/Users/shyampatel/Desktop/Projects/Videogame Sales Data/vgsales.csv", "r")
fString = f.read()

Convert string to a list

In [3]:
fList = []
for line in fString.split('\n'):
    fList.append(line.split(','))

Open connection to MySQL Database using pymysql

In [4]:
db = pymysql.connect(host="127.0.0.1", user="root", password="cowboys13", port=3306, database='videogamedb')

Prepare a cursor object using cursor() method

In [5]:
cursor = db.cursor()

In [6]:
#Drop table is it already exists using execute() method
cursor.execute("DROP TABLE IF EXISTS VGsales")

0

Create column names from the first line in fList, since they are used as headers in the csv file

In [7]:
Ranking = fList[0][0]; Title = fList[0][1]; Platform = fList[0][2]; Released = fList[0][3]; Genre = fList[0][4]; Publisher = fList[0][5];
NA_Sales = fList[0][6]; EU_Sales = fList[0][7]; JP_Sales = fList[0][8]; Other_Sales = fList[0][9]; Global_Sales = fList[0][10]

In [8]:
# CREATE VGsales TABLE
queryCreateVGsalesTable = """create TABLE VGsales(
                            {} varchar(240) not null,
                            {} varchar(240) NOT NULL ,
                            {} varchar(240) NOT NULL,
                            {} varchar(240) not null,
                            {} varchar(240) NOT NULL,
                            {} varchar(240) NOT NULL,
                            {} varchar(240) not NULL,
                            {} varchar(240) not NULL,
                            {} varchar(240) not NULL,
                            {} varchar(240) not NULL,
                            {} varchar(240) not NULL
                            )""".format(Ranking, Title, Platform, 
                                        Released, Genre, Publisher, 
                                        NA_Sales, EU_Sales, JP_Sales, 
                                        Other_Sales, Global_Sales)
# Now we exectue the query
cursor.execute(queryCreateVGsalesTable)

0

Iterating through loop to automate inserting all the rows from the csv file into MySQL Database

In [9]:
for i in range(len(fList)-1):
    insert_query = """insert INTO VGsales VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    insert_value = [fList[i][0], fList[i][1], fList[i][2], fList[i][3], fList[i][4], fList[i][5], fList[i][6],
    fList[i][7], fList[i][8], fList[i][9], fList[i][10]]
    cursor.execute(insert_query, insert_value)
    db.commit()
    # To check which rows were inserted
    # print(fList[i][0])
    # print('Row Complete')
print('Process Complete')
db.close()

Process Complete

<img src='Process Complete.png' style='height:250px' >

I was able to sucessfully insert all the csv data into the MySql Database using python as a connector. Here you can see a query being run in MySql Workbench, here I can query through the data using groupby to find sales from titles released after a specific year.

<img src='mysql snippet.png'>

In this next step I have imported this data into Power BI, connecting the Mysql server using my database's credentials. I transformed the data in the power query editor; changing column types, removing null rows/values.

<img src='query editor.png'>

Finally I was able to create a report with 2 clean visualizations using a clustered column chart and two pie charts. This Report has been published to my Power BI workspace, so anyone with permissions are able to view/filter/share this report with anyone they'd like.

<img src='report1.png'>

<img src='report2.png'>